/*General document styles*/

:root {
    --primary-color: #6EEB83;
    --secondary-color: white;
    --background-color: black;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background-color);
    color: var(--secondary-color);
    margin: 0;
}

main {
    display: flex;
}

.heading {
    margin:46px 0 0 236px;
    color: var(--primary-color);
    font-family: 'DM Serif Display';
}

.heading-primary {
    margin-bottom:-15px;
    font-size: 62px;
}

.heading-secondary {
    font-size: 32px;
    font-style: italic;
}

/*Content*/

.block {
    width:690px;
    margin-top:20px;
    border-left:5px solid var(--primary-color);
    border-bottom:5px solid var(--primary-color);
    font-size:20px;
    font-family: 'Lexend Deca';
    margin:0 0 0 203px;
    padding: 35px;
    position: relative;
}

.block .img img {
    width:720px;
}


.block .text {
    width:720px;
    text-align: justify;
}

.block::after {
    text-indent:25px;
    content:attr(display-name);
    font-size:42px;
    position: absolute;
    background-color: var(--background-color);
    transform: rotate(-90deg);
}

.what::after {
    top:80px;
    width:240px;
    left:-125px;
}

.fire-dependence::after {
    top:214px;
    width: 480px;
    left:-245px;
}

.fire-regime::after {
    top:154px;
    width: 360px;
    left:-185px;
}

.benefits::after {
    top:124px;
    width: 300px;
    left:-155px;
}

.disadvantages::after {
    top:199px;
    width: 450px;
    left:-230px;
}

.causes-of-fire::after {
    top:189px;
    width: 430px;
    left:-220px;
}

/*Sidebar*/

.sidebar {
    width: 100px;
    height: calc(100vh - 3px);
    position: fixed;
    background-color: #6EEB83;
}

.share, .theme {
    margin: auto;
    margin-top: 20px;
    width:fit-content;
}

.share::after {
    content: 'SHARE';
    font-family: 'Lexend Deca';
    color:  black;
}

.share .icon img {
    display: block;
    margin: auto;
}

.theme:hover, .share:hover {
    cursor:pointer;
    opacity: 70%;
}

/*Share*/

.share-msg {
    color: black;
    padding:15px 30px 10px 10px;
    border-radius:20px;
    background: #6EEB83d0;
    font-size:10px;
    font-family: 'Lexend Deca';
    display: none;
    width: 200px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    text-align: justify;
}

.close-button {
    display: block;
    position: absolute;
    width:10px;
    height:10px;
    top:10px;
    right:10px;
}

.close-button:hover {
    cursor: pointer;
}

/*FAQ*/

.faq {
    font-family: 'Lexend Deca';
    margin:50px 0 0 203px;
}

.faq-heading {
    font-size:42px;
}

.faq-container {
    text-align: justify;
    width: 715px;
}

.qs {
    color:var(--primary-color);
}

.qs::before {
    content: 'Q. ';
}

.ans {
    color:var(--secondary-color);
}

.ans::before {
    content: 'A. ';
}

.faq-container div:nth-child(odd):not(.faq-container div:first-child) {
    margin-top: 20px;
}

.faq-container {
    border: 5px solid var(--primary-color);
    border-radius:12px;
    padding: 20px;
}

/*Headers / Search*/

.headers {
    position:fixed;
    right:30px;
    top:220px;
    color: var(--primary-color);
    font-family: 'Lexend Deca';
}

.headers-container a {
    font-size:21px;
    color: var(--primary-color) !important;
}

.headers-container {
    width: 350px;
    border: 5px solid var(--primary-color);
    border-radius: 12px;
    padding:20px;
    display: flex;
    flex-direction: column;
}

.headers-title {
    font-size:29px;
    margin-bottom: 10px;
}

.search {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    height:42px;
    border: 5px solid var(--primary-color);
    border-radius: 12px;
}

.search-input {
    font-family: 'Lexend Deca';
    font-size: 20px;
    width: 100%;
    height: 100%;
    outline: none;
    border:none;
    color: var(--primary-color);
    background:var(--background-color);
}

.search-input::placeholder {
    color: var(--primary-color);
}

.search-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display:block;
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
}

.search-icon {
    padding: 8px;
    width: fit-content;
    height: 100%;
}

.search-icon svg {
    color: var(--primary-color);
}