/*General document styles*/

:root {
    --primary-color: #6EEB83;
    --secondary-color: white;
    --background-color: black;
}

body {
    background: var(--background-color);
    color: var(--secondary-color);
    margin: 0;
}

main {
    display: flex;
}

.heading {
    margin:46px 0 0 236px;
    color: var(--primary-color);
    font-family: 'DM Serif Display';
}

.heading-primary {
    margin-bottom:-15px;
    font-size: 62px;
}

.heading-secondary {
    font-size: 32px;
    font-style: italic;
}

/*Content*/

.block {
    margin-top:20px;
    border-left:5px solid var(--primary-color);
    border-bottom:5px solid var(--primary-color);
    font-size:20px;
    font-family: 'Lexend Deca';
    margin:0 0 0 203px;
    padding: 35px;
    position: relative;
}

.block .img img {
    width:880px;
}


.block .text {
    width:880px;
    text-align: justify;
}

.block::after {
    text-indent:25px;
    content:attr(display-name);
    font-size:42px;
    position: absolute;
    background-color: var(--background-color);
    transform: rotate(-90deg);
}

.what::after {
    top:80px;
    width:240px;
    left:-125px;
}

.fire-dependence::after {
    top:214px;
    width: 480px;
    left:-245px;
}

.fire-regime::after {
    top:154px;
    width: 360px;
    left:-185px;
}

.benefits::after {
    top:124px;
    width: 300px;
    left:-155px;
}

.disadvantages::after {
    top:199px;
    width: 450px;
    left:-230px;
}

.causes-of-fire::after {
    top:189px;
    width: 430px;
    left:-220px;
}

/*Sidebar*/

.sidebar {
    width: 100px;
    height: calc(100vh - 3px);
    position: fixed;
    background-color: #6EEB83;
}

.share, .theme {
    margin: auto;
    margin-top: 20px;
    width:fit-content;
}

.share::after {
    content: 'SHARE';
    font-family: 'Lexend Deca';
    color:  black;
}

.share .icon img {
    display: block;
    margin: auto;
}

.theme:hover, .share:hover {
    cursor:pointer;
    opacity: 70%;
}

.share-msg {
    padding:15px 30px 10px 10px;
    border-radius:20px;
    background: #6EEB83d0;
    font-size:10px;
    font-family: 'Lexend Deca';
    display: inline-block;
    width: 200px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    text-align: justify;
}

.close-button {
    display: none;
    position: absolute;
    width:10px;
    height:10px;
    top:10px;
    right:10px;
}

.close-button:hover {
    cursor: pointer;
}